#menu{
    margin-right: 50px;
}
#menu >li a{
/* margin-top: 50%;
/* margin-bottom: 50%; */
    font-family: 'Poppins', arial, sans-serif;
font-size: 1em;
}

#logo{
margin-left: 20px;
    font-size: 2.5em;
}

.card {
    margin-right: 20px !important;
}